.navegacao {
  display: flex;
  gap: 5vw;
  font-family: var(--fonte-texto);
  font-size: 1.6vw;
  font-weight: 400;
}

.navegacao {
  list-style: none;
  padding-left: 0;
}

.navegacao li {
  list-style: none;
}

.navegacao li a {
  display: block;
}

@media (max-width: 986px) {
  .navegacao {
    gap: 3vw;
    font-size: 2vw;
  }
}
