.rodape {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 0.5rem;
  background-color: var(--preto);
}

.rodape_informacoes {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100%;
  justify-content: space-around;
  gap: 2rem;
  margin: 0.5rem;
  color: var(--cinza-claro);
}

.funcionamento,
.institucional,
.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: var(--cinza-claro);
}

.titulo {
  margin: 0;
  font-family: var(--fonte-titulo);
  font-weight: 400;
}

.ancora {
  color: var(--cinza-claro);
  text-decoration: none;
}

.ancora:hover {
  color: var(--branco);
  transform: scale(1.1);
}

.icones {
  display: flex;
  gap: var(--gap-xs);
  color: var(--azul);
  font-size: var(--font-size-m);
}

.icone {
  color: var(--azul);
}

.desenvolvimento {
  padding: var(--padding-m) var(--padding-s);
  background-color: var(--cinza-claro);
  color: var(--preto);
  text-align: center;
  font-family: var(--fonte-texto);
  font-weight: 400;
  font-size: var(--font-size-m);
}

.footer {
  text-align: center;
  font-family: var(--fonte-texto);
  font-weight: 400;
  font-size: 0.7em;
}

.logo {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  max-width: 200px;
}

@media (max-width: 720px) {
  .logo {
    width: 40%;
  }
}
