.input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--preto);
  font-family: var(--fonte-texto);
  width: 100%;
  padding: 0.8vh;
}

@media (max-width: 720px) {
  .input::placeholder {
    font-size: 0.8em;
    justify-content: center;
    padding: 0 0 0 5%;
  }

  .input {
    padding: 0.2vh;
  }
}
