.container {
  margin: 0;
}

.container span {
  color: var(--azul);
}

.banner {
  width: 100%;
  margin-bottom: -7px;
}

.default {
  width: 100vw;
  height: 100vw;
  margin-bottom: -60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/banner-desktop.png");
}

.combo {
  width: 100vw;
  height: 21vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/combo-desktop.png");
}

@media (max-width: 720px) {
  .default {
    background-image: url("/banner-mobile.png");
  }

  .combo {
    background-image: url("/combo-mobile.png");
    height: 40vw;
  }
}
